:root {
    --white: #FFFFFF; 
    --cultured: #F5F3F4; 
    --lightGray: #D3D3D3; 
    --silverChalice: #B1A7A6; 
    --imperialRed: #E5383B; 
    --carnelian: #BA181B; 
    --rubyRed: #A4161A;
    --bloodRed: #660708; 
    --eerieBlack: #161A1D; 
    --richBlack: #0B090A; 

}

html, body {
    width: 100%; 
    background-color: var(--lightGray);
}

/* 

Navbar styling 

*/ 


.navbar-start {
    flex-grow: 1;
    justify-content: center;
    color: var(--richBlack);
}

.navbar {
   background-color: var(--white);
   overflow: hidden;
   border: 1px solid;
}

.mainContainer {
    margin: 40px;
}

.navbar-item:hover {
    background-color: var(--white) !important;
    color: var(--richBlack) !important;


}

.navbar-burger:hover {
    background-color: var(--white) !important;
}


.navbar-item, .navbar-link {
    text-transform: uppercase;
    letter-spacing: 0.15em;

  }

.navbar-item img {
	max-height: none;
}

/*

about/index.html styling

*/


.aboutTitle {
    font-size: 4em;
    font-weight: bold;
}

.aboutPara {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    padding: 5px 20px 5px 20px;
}

.secondaryTitle {
    font-size: 2em; 
    font-style:oblique;
    
}

.contactSection {
    display: flex;

}

.logoStyle {
    margin: 5px;
    border: 2px solid black;
    
}

.resize {
    width: 100px;
    height: auto;
}

.resize {
    width: auto; 
    height: 100px;

}


/*
How to play styling

*/

.game-rules-box {
	height: 80vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: left;
	margin-top: 8%;
}

.game-rules-content {
	display: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40vw;
}
.game-rules-content h2 {
	font-size: 5vw;
}


.slideshow-box {
	height: 80vh;
	width: 50vw;
	margin-top: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slideshow-image {
	width: 100%;
	height: 600px;
}

.slideshow-image:hover {
	cursor: pointer;
}
.body-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3%;
}

/*
Start Game
*/ 

.gameTitle {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.centerColumn {
    text-align: center;
}

.modeBtn {
    margin-top: 20px;
    
}

/*

Dynamic guess that quote page

*/
