:root {
	--white: #ffffff;
	--cultured: #f5f3f4;
	--lightGray: #d3d3d3;
	--silverChalice: #b1a7a6;
	--imperialRed: #e5383b;
	--carnelian: #ba181b;
	--rubyRed: #a4161a;
	--bloodRed: #660708;
	--eerieBlack: #161a1d;
	--richBlack: #0b090a;
}

html,
body {
	width: 100%;
	/* background-color: var(--lightGray); */
	background-image: url("assets/mangapanelbg.jpg");
	background-repeat: repeat;
}

/* 

Navbar styling 

*/

.navbar-start {
	flex-grow: 1;
	justify-content: center;
	color: var(--richBlack);
}

.navbar {
	background-color: var(--white);
	overflow: hidden;
	border: 1px solid;
}

.mainContainer {
	margin: 40px;
	border: 1px solid;
	background-color: #f5f3f4a2;
	padding: 10px;

}

.navbar-item:hover {
	background-color: var(--white) !important;
	color: var(--rubyRed) !important;
}

.navbar-burger:hover {
	background-color: var(--white) !important;
}

.navbar-item,
.navbar-link {
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.navbar-item img {
	max-height: none;
}

/*

about/index.html styling

*/

.aboutSection {
	text-align: center;
	border: 1px solid;
	background-color: #f5f3f4a2;
	padding: 10px;
	
}

.aboutTitle {
	font-size: 4em;
	font-weight: bold;
	color: var(--rubyRed);
}

.aboutPara {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;

	padding: 5px 40px 5px 40px;
}

.secondaryTitle {
	font-size: 2em;
	font-style: oblique;
	color: var(--rubyRed)
}

.contactSection {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.logoStyle {
	margin: 5px;
	border: 2px solid black;
}

.resize {
	width: 100px;
	height: auto;
}

.resize {
	width: auto;
	height: 100px;
}

.gamingGif {
	margin-top: 20px;
	border: 1px solid;
}

.about {
	border: 1px solid;
	width: 54%;
	display: flex;
	margin: 0 auto;
	background-color: var(--cultured);
	-webkit-box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.472);
	box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.472);
}

.gif {
	display: flex;
	justify-content: center;
}

.about a {
	margin: 0 auto;
	color: var(--richBlack);
}

.about a:hover {
	color: var(--rubyRed);
}

/*
How to play styling

*/
.playContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.body-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* background-color: green; */
	width: 100vw;
	align-items: center;
	gap: 5%;
	contain: content;
	overflow: hidden;
}

.game-rules-box {
	height: 80vh;
	width: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: left;
	border-style: solid;
	border-color: black;
	background-color: white;
	box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.472);
	margin-top: 8%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 2.5vh;
}

.game-rules-box p {
	margin-top: 5%;
}

.game-rules-box h2 {
	text-align: center;
	font-size: 5vh;
	font-weight: bold;
}

.slideshow-box {
	height: 80vh;
	width: 45vw;
	margin-top: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
	border-style: solid;
	border-color: black;
	box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.472);
	contain: content;
}

.slideshow-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	contain: content;
}

.slideshow-image {
	width: 100%;
	height: 80vh;
	display: none;
}

.slideshow-image:hover {
	cursor: pointer;
}

/*
Start Game
*/
.startContainer {
	border: 1px solid;
	background-color: #f5f3f4a2;
	padding: 10px;
	height: 100vh;
	

}
.gameTitle {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: var(--rubyRed);
}

.centerColumn {
	text-align: center;
}

.modeBtn {
	margin-top: 20px;
}

.previousQuestion {
	display: none;
}

#animeColumn img {
	height: 40vh;
}

#mangaColumn img {
	height: 40vh;
}

.modeTitle {
	margin-top: 100px;
}

.gameBtns {
	margin-top: 20px;
}

/*
Modal styling
*/

.model-box {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: absolute;
	height: 120vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.model-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 25vh;
	width: 70vw;
	gap: 5%;
	margin-bottom: 30%;
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	z-index: 2;
}

.model-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	width: 100%;
	padding: 5%;
}

.answer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 5vh;
	width: 70%;
	z-index: 3;
}

.modal-close {
	background-color: rgba(0, 0, 0, 0.5);
	top: 180px !important;
	right: 20px !important;
}

/* 
Component JS pages
*/

#animeAPI,
#mangaAPI {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.quoteStyling {
	font-weight: bold;
	font-size: 20px;

}

.quoteContainer {
	margin: 40px;
	border: 1px solid;
	background-color: #f5f3f4b7;
	padding: 10px;

}